body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    min-width: 400px;
}

h1 {
    margin: 0 0 1rem 0;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 30% auto;
    row-gap: 0.5rem;
    width: 90%;
}

form > * {
    align-self: center;
}

label {
    font-weight: bold;
}

#sortButton {
    margin-top: 0.5rem;
}

.option {
    display: inline-block;
    margin-bottom: 0.5rem;
}